USE [DigitalLab]
GO
/****** Object:  Table [dbo].[digital]    Script Date: 3/16/2020 10:00:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[digital](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](500) NULL,
	[description] [text] NULL,
	[image] [nvarchar](50) NULL,
	[author] [nvarchar](50) NULL,
	[timePost] [date] NULL,
	[shortDes] [text] NULL,
 CONSTRAINT [PK_digital] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[digital] ON 

SET IDENTITY_INSERT [dbo].[digital] OFF
